<header class="header">
  <nav>
    <ul>
      <li class="<%- path=='index.html'?'active':'' %>"><a href="<%-config.root%>">TOKO</a></li>
      <li class="<%- path=='posts/index.html'?'active':'' %>"><a href="<%-config.root+'/posts'%>">文章</a></li>
      <li class="<%- path=='tags/index.html'?'active':'' %>"><a href="<%-config.root+'/tags' %>">标签</a></li>
      <li class="<%- path=='about/index.html'?'active':'' %>"><a href="<%-config.root+'/about'%>">关于</a></li>
    </ul>
  </nav>
</header>
